* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Tilt Neon', cursive;
    text-align: center;
}

header {
    font-size: medium;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: rgb(90, 238, 186);
    text-align: left;


}

#mobile {
    display: none !important;
}

header h3 {
    margin-left: 3%;
    display: inline;
}

main {
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: linear-gradient(to right, white, grey, white);
}

.painel {
    background-color: aquamarine;
    padding-bottom: 0%;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20rem;
}

.soueu {
    border-radius: 20rem;
    position: relative;
    padding-bottom: 30px;

}

h2 {
    font-size: 210%;
}

footer h2 {
    font-size: 250%;
    color: white;
    padding-top: 4%;
}

.soueu p {
    font-size: 200%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
}

.soueu img {
    max-height: 0.5%;
    border-radius: 50%;
    margin-top: 5%;

}

.skills {
    margin-top: 5%;
    border-radius: 20rem;
    background-color: aquamarine;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 5%;
    margin-right: 5%;

}

.skills h2 {
    /* margin-top: 5%; */
    position: relative;
    font-size: 250%;

}

.cards {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: inline-block;
    background-color: aliceblue;
    width: 7%;
    border-radius: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1.5%;


}

.card img {
    max-width: 100%;
    display: inline;


}

footer {
    background-color: rgb(62, 58, 58);
    padding-bottom: 40%;
}

footer .card {
    width: 4%;
}

@media screen and (max-height : 600px) {
    #mobile {
        display: inline;
    }

    #desktop {
        display: none;
    }
}
